html { 
    font-size: 10px;
}

body {
    font-family: 'Muli', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6vw;
    display: flex;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #9A7FAE;
    justify-content: center;
    color: whitesmoke;
    font-size: 2vw !important;
    z-index: 2;
}

   /* If screen size is 400px wide, or less... */
@media screen and (max-width: 400px) {
    header.header{
        padding-bottom: 4%;
        padding-left: 1%;
        height: 15vw;
        z-index: 2;
        display: flex;
        justify-content: center;
        text-align: center;
        text-align-last: center;
    }
    .nav a {
        float: none;
        width: 100%;
        display: block;
        overflow:hidden;
        border: #9A7FAE 1px solid;
        border-top: none;
        border-left: none;
        border-right: none;

      }
      div.info-part {
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 0.3%;
          z-index: 0;
          margin-top: 25;
      }
      div.nav-links {
          width: 100%;
          position:fixed;
          overflow: scroll;
          height: 20%;
          z-index: 1;
          background:white;
          border-bottom: #9A7FAE 1px solid;
          margin-top: 5;
      }
      .nav {
          height: 150px;
      }
      .nav-link--active, .nav-link:hover {
          z-index: 1;
      }
  }
  /* If screen size is 700px wide, or less...*/
@media screen and (max-width: 700px) {
    header.header{
        padding-bottom: 2%;
        padding-left: 1%;
        height: 9vw;
        z-index: 2;
        display: flex;
    }
    .nav a {
        float: none;
        width: 100%;
        display: block;
        overflow:hidden;
        border: #9A7FAE 1px solid;
        border-top: none;
        border-left: none;
        border-right: none;

      }
      div.info-part {
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 0.3%;
          z-index: 0;
          margin-top: 15;
      }
      div.nav-links {
          width: 100%;
          position:fixed;
          overflow: scroll;
          max-height: 20%;
          z-index: 1;
          background:white;
          border-bottom: #9A7FAE 1px solid;
      }
      .nav {
          margin-top: 0;
          height: 150px;
      }
      .nav-link--active, .nav-link:hover {
          z-index: 1;
      }
  }

   /* If screen size is 900px wide, or less...*/
@media screen and (max-width: 900px) {
    header.header{
        padding-bottom: 2%;
        padding-left: 1%;
        height: 9vw;
        z-index: 2;
        display: flex;
    }
    .nav a {
        float: none;
        width: 100%;
        display: block;
        overflow:hidden;
        border: #9A7FAE 1px solid;
        border-top: none;
        border-left: none;
        border-right: none;

      }
      div.info-part {
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 0.3%;
          z-index: 0;
          margin-top: 45;
      }
      div.nav-links {
          width: 100%;
          position:fixed;
          overflow: scroll;
          max-height: 20%;
          z-index: 1;
          background:white;
          border-bottom: #9A7FAE 1px solid;
      }
      .nav {
          margin-top: 2;
          height: 150px;
      }
      .nav-link--active, .nav-link:hover {
          z-index: 1;
      }
  }

   /* If screen size is 570px wide, or less...*/
@media screen and (max-width: 570px) {
    header.header{
        padding-bottom: 2%;
        padding-left: 1%;
        height: 15vw;
        z-index: 2;
        display: flex;
    }
    .nav a {
        float: none;
        width: 100%;
        display: block;
        overflow:hidden;
        border: #9A7FAE 1px solid;
        border-top: none;
        border-left: none;
        border-right: none;

      }
      div.info-part {
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 0.3%;
          z-index: 0;
          margin-top: 30;
      }
      div.nav-links {
          width: 100%;
          position:fixed;
          overflow: scroll;
          height: 20%;
          max-height: 26%;
          z-index: 1;
          background:white;
          border-bottom: #9A7FAE 1px solid;
          margin-top: 5;
      }
      .nav {
          margin-top: 20;
          height: 120px;
      }
      .nav-link--active, .nav-link:hover {
          z-index: 1;
      }
  }

  /* If screen size is 290px wide, or less...*/
@media screen and (max-width: 390px) {
    header.header{
        padding-bottom: 2%;
        padding-left: 1%;
        height: 16vw;
        z-index: 2;
        display: flex;
    }
    .nav a {
        float: none;
        width: 100%;
        display: block;
        overflow:hidden;
        border: #9A7FAE 1px solid;
        border-top: none;
        border-left: none;
        border-right: none;

      }
      div.info-part {
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 0.3%;
          z-index: 0;
          margin-top: 15;
      }
      div.nav-links {
          width: 100%;
          position:fixed;
          overflow: scroll;
          max-height: 20%;
          z-index: 1;
          background:white;
          border-bottom: #9A7FAE 1px solid;
      }
      .nav {
          margin-top: 15;
          height: 120px;
      }
      .nav-link--active, .nav-link:hover {
          z-index: 1;
      }
  }

#navbar {
    color: #9A7FAE;
}

.nav-links {
    position: fixed;
    padding-top: 10%;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 23vw;
    background: none;
    color:#F6CDC7;
    justify-content: center !important;
}

.nav-link {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px;
    color: #9A7FAE !important;
}

.nav-link > i {
    margin-right: 15px;
    color: #9A7FAE;
}

.nav-link--active{
    color:#EBE5DA;
}

.nav-link--active,
.nav-link:hover {
    color:#9A7FAE;
    background: #EBE5DA;
}

.nav-link a:active {
    color: #9A7FAE;
}
  
.info-part {
padding-left: 25%;
padding-top: 10%;
padding-right: 5%;
}

#main-doc {
    text-align: left;
    margin: 0px;
}

.main-section {
    font-size: 1.5rem;
}

